@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #009f4d;
    --bg-color: #151421;
    --heading-color: #eee;
    --border-radius: 8px;
    --layer: #1d2a37cc;
    --font-color: #c2c2c2;
    --border-color: #ffffff33;
    --bg-grey: #100f19;
}

body {
    background: var(--bg-color);
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: var(--font-color);
    opacity: .8;
    font-family: 'Jost', sans-serif;
}

#body.search__active .btn-material {
    transform: scale(70);
}

#body.search__active .btn-material i {
    opacity: 0;
}

#body.search__active .control {
    cursor: default;
}

.search-input input {
    color: #fff !important;
    font-size: 54px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

body.search__active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

.search-input {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
}

.input-search::placeholder {
    color: #FFF !important;
}

.header-search .icon-close {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 70px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.icon-close {
    opacity: 1;
}

body.search__active .icon-close {
    opacity: 1;
    transform: rotate(-90deg);
}

.navbar .navbar-brand span.fa {
    color: var(--primary-color);
    margin-right: 5px;
    vertical-align: bottom;
}

.navbar .navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.control .btn-material {
    line-height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: var(--primary-color);
    color: white;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.mode-container {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}

.mode-container .fa-sun {
    color: white;
}

header.main-header {
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 100px;
    padding: 1rem;
    display: grid;
    align-items: center;
    z-index: 10;
    /* background: #000; */
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

header.main-header.active {
    height: auto;
}

.nav-link {
    transition: all 0.5s ease;
    padding: 14px 0 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    opacity: .8;
    text-transform: uppercase;
}

.nav-item {
    padding: 0 10px;
}

a.dropdown-item {
    font-size: 15px;
    color: var(--heading-color);
    background: none;
    opacity: .8;
    font-weight: 600;
    padding: 6px 20px;
    text-transform: uppercase;
}

.banner-wrap {
    position: relative;
}

.navbar-toggler {
    padding: 0;
    border: 0;
}

.dropdown-menu.show {
    transform: translateX(-8px);
    background: var(--bg-color);
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--bg-color);
    border: 1px solid var(--border-color-light);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

button.navbar-toggler.collapsed .icon-close {
    display: none;
}

button.navbar-toggler .icon-close {
    display: block;
}

button.navbar-toggler .icon-expand {
    display: none;
}

.mobile-position {
    font-size: 20px;
}

.main-header.sticky {
    padding: 0px;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}


/* slick */

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    position: absolute;
    right: 25px;
    bottom: 50px;
    font-size: 0;
    background: var(--bg-color);
    border: 0;
    width: 50px;
    height: 50px;
    z-index: 12;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
    border: 1px solid var(--border-color);
}

.slick-arrow.slick-prev {
    right: 95px;
}

.slick-arrow.slick-next {
    right: 190px;
}

.banner__item .container {
    position: relative;
}

.slick-track {
    height: 800px;
}

.bg1 {
    background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
}

.bg2 {
    background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
}

.bg3 {
    background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b3.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
}

.bg4 {
    background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
}

.slick-initialized .banner__item {
    position: relative;
    min-height: 800px;
    padding-bottom: 100px;
    display: flex !important;
    align-items: center;
}

.hero-content h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 18px;
    color: #e6e8f6;
    max-width: 800px;
    font-weight: 600;
}

.hero-content p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010em;
    opacity: .9;
}

.hero-content .cta-btn {
    padding-top: 30px;
}

.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
}

body button,
.btn,
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
}

.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.slick-arrow.slick-prev {
    font-size: 18px;
    color: white;
}

.slick-arrow.slick-next {
    font-size: 18px;
    color: white;
}

.hero-overlay {
    background: var(--layer);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.shape path {
    fill: var(--bg-color);
}


/* about */

.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: white;
}

.homeblock ul.service-list li {
    display: block;
    margin-bottom: 15px;
}

.homeblock ul.service-list li a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    position: relative;
}

.homeblock ul.service-list li a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    position: relative;
}

.homeblock ul.service-list .service-link span {
    color: var(--primary-color);
}

.radius-image {
    border-radius: var(--border-radius);
}


/* end about */


/* features */

.features {
    background: var(--bg-grey);
}

.features .call-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.features .box-item {
    padding: 40px 30px;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: var(--bg-color);
    transition: .3s ease;
    -webkit-transition: .3s ease;
}

.features .box-item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.features .box-item h4 a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    text-decoration: none;
    display: block;
    color: var(--heading-color);
}


/* end features */

@media only screen and (max-width: 991px) {
    .navbar-toggler-icon {
        background-image: none;
        padding: 0;
        width: 34px;
        height: 34px;
        display: inline-block;
        background: var(--primary-color);
        border-radius: 4px;
        text-align: center;
    }

    .navbar-toggler-icon.fa {
        font-size: 20px;
        line-height: 1.2em;
        color: #fff;
        line-height: 34px;
    }

    .navbar-nav {
        -webkit-animation-name: none;
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0 0px;
    }

    /* .control .btn-material {
        line-height: 40px;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 14px;
    } */
    .header-search {
        position: absolute;
        right: 87px;
        top: 18px;
    }

    .mobile-position {
        position: absolute;
        right: 70px;
        top: 24px;
    }

    .nav-link {
        padding: 6px 0;
    }

    .navbar-collapse {
        max-height: calc(100vh - 80px);
        overflow-y: scroll;
    }
}

/* Start Testimonial */
.testimonial-section {
    background: #f8f9fa;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}

/*Start Testmonials  */
.title-small {
    font-size: 14px;
    font-weight: 600px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.testimonial {
    display: block;
    padding: 40px 30px;
    position: relative;
    border: none;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.testimonial-item p {
    font-size: 18px;
    line-height: 28px;
    color: #7e7d7d;
    opacity: .8;
}

.testimonial-pic {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    grid-gap: 20px;
}

.testimonial-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

.testimonial-img img {
    width: 100%;
    min-height: 100%;
    object-position: center;
}

.owl-dots {
    margin-top: 30px;
}

/* End Testimonial */
/* Start Blog */
.blog-section .card {
    border: none;
    background: none;
    box-shadow: 0 20px 40px 0 rgb(50 65 141 / 12%);
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    border: 1px solid transparent;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.post-thumbnail img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 8px;
}

.post-thumbnail img:hover {
    transform: scale(0.9);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.review p a {
    font-weight: 400;
    font-size: 17px;
    color: #999;
}

.blog-desc {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600px;
    color: #3f3a64;
    margin-top: 10px;
}

.card-footer .author {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.post-author {
    overflow: hidden;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
}

.blog-meta li a {
    font-size: 16px;
    color: #3f3a64;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
}

/* End Blog */
/* Start Project */
.project-section {
    background-image: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bottom-info {
    max-width: 700px;
    margin: 0 auto;
}

.subcribe {
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
}

.subcribe .input-group-text {
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.subcribe input {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #34343d;
    outline: none;
    width: 100%;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: none;
}

.subcribe button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 25px;
    font-size: 16px;
}

/* End Project */
/* Start Footer */
.footer-section {
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    opacity: 1;
}

.navbar-brand .fa-align-right {
    color: #009f4d;
    margin-right: 5px;
    vertical-align: bottom;
}

.navbar-brand .logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: 0.9;
}

.navbar-brand p {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
}

.main-social-footer a {
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    color: #97a1a9;
    opacity: 0.6s;
}

.footer-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}

.footer-title p {
    font-size: 28px;
    line-height: 28px;
    color: #97a1a9;
}

.footer-title ul, li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: 0.8;
}

/* End Footer */
/* Start Copyright */
.copyright-section {
    padding: 1.5rem 0;
    border-top: 1px solid rgba(250, 250, 250, 0.1);
}

.copy-footer {
    align-self: center;
    color: #7f8a94;
    font-size: 16px;
    letter-spacing: 0.5px;
    opacity: 1;
}

.copy-footer a {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.8;
    color: #00a63f;
}

#movetop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
}

/* End Copyright */